# chapter 05 MySQL 유틸리티 사용법

#사용자 관리
 - 최소권한의 원칙(Principles of Least Privileges)

#권한(Privileges) vs 롤(Role)
  - 롤: 관련 있는 권한을 묶어서 이름 붙인 것
  - 롤의 역할
    : 효율적, 동적인 권한 관리
      계정과 권한을 느슨하게 연결(Loosely-Coupled)

 ## director계정 만들기
 - CREATE user director@'%'.....director 계정을 생성할건데..\
	IDENTIFIED BY 'director'; .....password를 'director'로 지정함\
 - GRANT ALL ON *.* TO director@'%'............director에게 모든 권한을 부여함\
      WITH GRANT OPTION;.............그런데 그 권한을 director가 다른사람에게 권한을 부여할 수 있도록 option을 부여함
      
 ## Ceo계정 만들기
 - CREATE user ceo@'%'\
	IDENTIFIED By 'ceo';..............ceo계정을 생성하고..password를 'ceo'로 지정\
 - GRANT SELECT ON *.* To ceo@'%';.............ceo에게 모든 Database에 대한 SELECT 권한을 부여함
 
 ## Staff 계정 만들기
 - Create user staff@'%'\
	IDENTIFIED By 'staff';..계정 생성하기\
 - GRANT SELECT, INSERT, UPDATE, DELETE ON shopDB.* TO staff@'%';.....shopDB에 대한 S, I, U, D의 권한을 부여함\
 - GRANT SELECT ON employees.* TO staff@'%'; ...........employees 데이터베이스에 대해서 SELECT 권한만을 부여함

# chapter 06 SQL 기본

## SELECT 문
(재료 집합으로부터) 원하는 결과 집합을 정의/요청/기술하는 SQL문장

 #기본구조(순서가 있음)
 - SELECT : 정의
 - FROM : 재료집합 정의 (table, view, SQ, Join 등)
 - WHERE : filtering rows (조건식이 True 일때만 통과)
 - GROUP BY : 무리짓기 (같은 값을 갖는 행을 묶음)
 - HAVING : Filtering Groups (조건식이 True일때만 통과)
 - ORDER BY : 결과집합 정렬(값, 오름/내림차순 정리, 널 처리)
 
 ## 칼럼명 변경하기
 -  select concat(concat(first_name," "), last_name) AS 사원이름, hire_date 입사일\
From employees.employees
Limit 20;
 - first_name, last_name이 사원이름인 하나의 칼럼에 같이 붙여서 나옴
 
 ## between 연산자(키가 180이상 183이하인 usertbl구하기)
 - select name, height from usertbl where height>=180 and height<=183;
 - select name, height from usertbl where height BETWEEN 180 and 183;
 
 ## IN 연산자(addr칼럼이 경남, 전남, 경북인 것을 추출하기)
 - select name, addr from usertbl where addr="경남" or addr="전남" or addr="경북";
 - select name, addr from usertbl where addr in ("경남", "전남", "경북");
 
 ## order by
  - (결과물에는 영향을 미치지 않으나, 결과가 출력되는 순서를 조절함)=> 제일 뒤에 와야 함
 - select name, mDate From usertbl ORDER BY mDate; (오름차순)
 - select name, mDate From usertbl ORDER BY mDate DESC; (내림차순)
 
 ## distinct( 중복된 것을 버리기)
 - select DISTINCT addr from usertbl;
 
 ## Limit( 출력 개수를 제한함)
 - select emp_no, hire_date from employees ORDER BY hire_date Limit 5;
 
 ## count(*)...개수 확인하기
  - select count(*) from usertbl;\
  ....select count(mobile1) from usertbl;(휴대폰이 있는 사용자의 수)
  - select count(*) from buytbl;
 
 ## Group By...묶어서 사용하기
  - select userid, SUM(amount) From buytbl GROUP BY userid;
  - 별칭 사용 : select userid AS "사용자 아이디", sum(amount) AS "총 구매 개수" From buytbl GROUP BY userid;
  - 총 구매액 : select userid AS "사용자 아이디", sum(price*amount) AS "총 구매액" From buytbl GROUP BY userid;
  
  ## 서브쿼리를 사용하여 출력하기
  - select name, height from usertbl \
  where height=(select min(height) from usertbl) or height=(select MAX(height) from usertbl);
  
  ## 소합계와 총합계 한꺼번에 구하기
  - select num, gropName, Sum(price*amount) AS "비용" from buytbl GROUP BY gropName, num WITH ROLLUP;
  - select gropName, Sum(price*amount) AS "비용" from buytbl GROUP BY gropName WITH ROLLUP;
  
 ## 중첩쿼리문
 
 청바지를 구매한 적이 있는 사람의 아이디와 이름을 출력하세요
 1) select userid, prodName from buytbl where prodName="청바지"; (청바지를 구매한 적이 있는 사람)
 
 #주의해야하는 것이.. 서브쿼리에서 =연산자를 2개 이상 쓰면안되기 떄문에.. IN을 활용함\
 2) select userid, name from usertbl WHERE "청바지" IN (select prodName from buytbl where userid=usertbl.userID);\
 3) select userid, name from usertbl WHERE userid IN (select userid from buytbl where prodName="청바지");

# 파이썬 연동(청바지 입은 사람의 name과 userid조회하기)

In [16]:
import pymysql as sql

conn, cur = None,None
data1,data2="",""
row=None
conn=sql.connect(host="127.0.0.1", user="root", password="hp_8_8", db="sqldb", charset="utf8")
cur=conn.cursor()

cur.execute('select userid, name from usertbl WHERE userid IN (select userid from buytbl where prodName="청바지")')

while True:
    row=cur.fetchone()
    if row==None:
        break
    data1 = row[0]
    data2 = row[1]
    
    print(data1, data2)
    
conn.close()

KBS 김범수
EJW 은지원